/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/config.php
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/dev/tools/grunt/configs/local-themes.js

/pub/media/*.*
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess

/pub/media/amasty/*
!/pub/media/amasty/.htaccess
/pub/media/brand/*
!/pub/media/brand/.htaccess
/pub/media/career_career/*
!/pub/media/career_career/.htaccess
/pub/media/email_icon/*
!/pub/media/email_icon/.htaccess
/pub/media/funsale/*
!/pub/media/funsale/.htaccess
/pub/media/helpdesk/*
!/pub/media/helpdesk/.htaccess
/pub/media/lazyload/*
!/pub/media/lazyload/.htaccess
/pub/media/magefan_blog/*
!/pub/media/magefan_blog/.htaccess
/pub/media/magenest/*
!/pub/media/magenest/.htaccess
/pub/media/mageplaza/*
!/pub/media/mageplaza/.htaccess
/pub/media/mattel/*
!/pub/media/mattel/.htaccess
/pub/media/paypal/*
!/pub/media/paypal/.htaccess
/pub/media/pdf/*
!/pub/media/pdf/.htaccess
/pub/media/preorder/*
!/pub/media/preorder/.htaccess
/pub/media/pslogin/*
!/pub/media/pslogin/.htaccess
/pub/media/resized/*
!/pub/media/resized/.htaccess
/pub/media/sendinblue_csv/*
!/pub/media/sendinblue_csv/.htaccess
/pub/media/sparsh/*
!/pub/media/sparsh/.htaccess
/pub/media/ulmod/*
!/pub/media/ulmod/.htaccess

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store
/*.sql
/*.tar
/*.tar.gz
/*.sql.gz
/*.zip
/error_log*
/adminer*
/dbbackup/*
/generated_*
/robots.txt_*
/app/code/*.zip
/app/code/*.tar
/app/code/*.tar.gz